<nav class="pcoded-navbar menupos-fixed menu-light brand-blue menu-item-icon-style6 title-blue ">
    <div class="navbar-wrapper ">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <!-- <div class="b-bg">
                    E
                </div>
                <span class="b-title">Flex Able</span> -->
                <img src="../../static/adminResources/image/logo.png" alt="" class="logo images">
                <img src="../../static/adminResources/image/logo-icon.png" alt="" class="logo-thumb images">
            </a>
            <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div   ">


            <ul class="nav pcoded-inner-navbar ">
                <!--<li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>-->
                <li class="nav-item pcoded-hasmenu">
                    <a href="/user/loadDashboard" class="nav-link waves-effect waves-light"><span
                            class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span class="pcoded-mtext">User Dashboard</span></a>
                    <!--<ul class="pcoded-submenu">
                        <li class=""><a href="index.html" class="waves-effect">Analytics</a></li>
                        <li class=""><a href="dashboard-sale.html" class="waves-effect">Sales</a></li>
                        <li class=""><a href="dashboard-crypto.html" class="waves-effect">Crypto</a></li>
                        <li class=""><a href="dashboard-project.html" class="waves-effect">Project</a></li>
                        <li class=""><a href="dashboard-help.html" class="waves-effect">Helpdesk<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                    </ul>-->
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Manage Image</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/user/loadImage" class="waves-effect">Upload Image</a></li>
                        <!--<li class=""><a href="/user/viewImage" class="waves-effect">View Image</a></li>-->

                    </ul>
                </li>
                <!--<li class="nav-item pcoded-hasmenu">
                    <a href="/user/addImage" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-layout"></i></span><span class="pcoded-mtext">Upload Image</span></a>
                    <!--<ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu"><a href="#!" class="waves-effect">View Shopkeeper</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="layout-static.html" class="waves-effect"
                                                target="_blank"></a></li>
                                <li class=""><a href="layout-fixed.html" class="waves-effect" target="_blank">Fixed</a>
                                </li>
                                <li class=""><a href="layout-menu-fixed.html" class="waves-effect" target="_blank">Navbar
                                    fixed</a></li>
                                <li class=""><a href="layout-mini-menu.html" class="waves-effect" target="_blank">Collapse
                                    menu</a></li>
                                <li class=""><a href="layout-navbg.html" class="waves-effect" target="_blank">Navbar
                                    imagebg</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="layout-horizontal.html" class="waves-effect"
                                        target="_blank">Horizontal</a></li>
                        <li class=""><a href="layout-horizontal-1.html" class="waves-effect" target="_blank">Horizontal
                            v1</a></li>
                        <li class=""><a href="layout-horizontal-2.html" class="waves-effect" target="_blank">Horizontal
                            v2</a></li>
                        <li class=""><a href="layout-box.html" class="waves-effect" target="_blank">Box layout</a></li>
                        <li class=""><a href="layout-rtl.html" class="waves-effect" target="_blank">RTL</a></li>
                        <li class=""><a href="layout-light.html" class="waves-effect" target="_blank">Light layout</a>
                        </li>
                        <li class=""><a href="layout-dark.html" class="waves-effect" target="_blank">Dark layout <span
                                class="pcoded-badge label label-danger">Hot</span></a></li>
                        <li class=""><a href="layout-menu-icon.html" class="waves-effect" target="_blank">Color icon</a>
                        </li>
                    </ul>-->
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="/admin/viewSuggestion" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-layers"></i></span><span class="pcoded-mtext">View Suggestion</span>
                        <!--<span
                           class="pcoded-badge label label-success">100+</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="widget-statistic.html" class="waves-effect">Statistic</a></li>
                        <li class=""><a href="widget-data.html" class="waves-effect">Data</a></li>
                        <li class=""><a href="widget-chart.html" class="waves-effect">Chart</a></li>
                    </ul>-->
                    </a></li>
                <!--<li class="nav-item pcoded-menu-caption">
                    <label>UI Element</label>
                </li>-->
                <li class="nav-item pcoded-hasmenu">
                    <a href="#" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-box"></i></span><span class="pcoded-mtext">Manage Complain</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/user/loadComplain" class="waves-effect">Post Complain</a></li>
                        <li class=""><a href="/user/viewComplain" class="waves-effect">View Complain</a></li>

                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Manage Feedback</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/user/loadFeedback" class="waves-effect">Post Feedback</a></li>
                        <li class=""><a href="/user/viewFeedback" class="waves-effect">View Feedback</a></li>

                    </ul>
                </li>
                <!--<li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-package"></i></span><span class="pcoded-mtext">Manage SubCategory</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/admin/loadSubCategory" class="waves-effect">Add SubCategory</a></li>
                        <li class=""><a href="/admin/viewSubCategory" class="waves-effect">View SubCategory</a></li>
                    </ul>

                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-feather"></i></span><span class="pcoded-mtext">Manage Dataset</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/admin/loadDataset" class="waves-effect">Add Dataset</a></li>
                        <li class=""><a href="/admin/viewDataset" class="waves-effect">View Dataset</a></li>

                    </ul>
                <li class="nav-item"><a href="/admin/viewImage" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-aperture"></i></span><span class="pcoded-mtext">Manage Image</span></a>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="/admin/viewSuggestion" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span class="pcoded-mtext">Manage Suggestion</span></a>
                </li>-->
                <!--<li class="nav-item pcoded-menu-caption">
                    <label>table</label>
                </li>-->
                <!--<li class="nav-item pcoded-hasmenu">
                    <a href="/admin/viewComplain" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-align-justify"></i></span><span
                            class="pcoded-mtext">Manage Complain</span></a>
                    <!--<ul class="pcoded-submenu">
                        <li class=""><a href="tbl_bootstrap.html" class="waves-effect">Basic table</a></li>
                        <li class=""><a href="tbl_sizing.html" class="waves-effect">Sizing table</a></li>
                        <li class=""><a href="tbl_border.html" class="waves-effect">Border table</a></li>
                        <li class=""><a href="tbl_styling.html" class="waves-effect">Styling table</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="/admin/viewFeedback" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-package"></i></span><span class="pcoded-mtext">Manage Feedback</span></a>
                    <!--<ul class="pcoded-submenu">
                        <li class=""><a href="dt_basic.html" class="waves-effect">Basic initialization</a></li>
                        <li class=""><a href="dt_advance.html" class="waves-effect">Advance initialization</a></li>
                        <li class=""><a href="dt_styling.html" class="waves-effect">Styling</a></li>
                        <li class=""><a href="dt_api.html" class="waves-effect">API</a></li>
                        <li class=""><a href="dt_ajax.html" class="waves-effect">Ajax</a></li>
                        <li class=""><a href="dt_serverside.html" class="waves-effect">Server side</a></li>
                        <li class=""><a href="dt_plugin.html" class="waves-effect">Plug-in</a></li>
                        <li class=""><a href="dt_sources.html" class="waves-effect">Data sources</a></li>
                    </ul>
                </li>
                <!--<li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">DT extensions</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="dt_ext_autofill.html" class="waves-effect">Autofill</a></li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="#!" class="nav-link waves-effect waves-light"><span
                                    class="pcoded-mtext">Button</span></a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="dt_ext_basic_buttons.html" class="waves-effect">Basic button</a>
                                </li>
                                <li class=""><a href="dt_ext_export_buttons.html" class="waves-effect">Data export</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""><a href="dt_ext_col_reorder.html" class="waves-effect">Col reorder</a></li>
                        <li class=""><a href="dt_ext_fixed_columns.html" class="waves-effect">Fixed columns</a></li>
                        <li class=""><a href="dt_ext_fixed_header.html" class="waves-effect">Fixed header</a></li>
                        <li class=""><a href="dt_ext_key_table.html" class="waves-effect">Key table</a></li>
                        <li class=""><a href="dt_ext_responsive.html" class="waves-effect">Responsive</a></li>
                        <li class=""><a href="dt_ext_row_reorder.html" class="waves-effect">Row reorder</a></li>
                        <li class=""><a href="dt_ext_scroller.html" class="waves-effect">Scroller</a></li>
                        <li class=""><a href="dt_ext_select.html" class="waves-effect">Select table</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="editable_table.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Editable table</span></a>
                </li>
                <li class="nav-item"><a href="tbl_foo.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Foo table</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="chart-am.html" class="waves-effect">amChart 4</a></li>
                        <li class=""><a href="chart-chartjs.html" class="waves-effect">Chart js</a></li>
                        <li class=""><a href="chart-echart.html" class="waves-effect">Echart</a></li>
                        <li class=""><a href="chart-google.html" class="waves-effect">Google</a></li>
                        <li class=""><a href="chart-highchart.html" class="waves-effect">Highchart</a></li>
                        <li class=""><a href="chart-knob.html" class="waves-effect">Knob</a></li>
                        <li class=""><a href="chart-morris.html" class="waves-effect">Morris</a></li>
                        <li class=""><a href="chart-nvd3.html" class="waves-effect">Nvd3</a></li>
                        <li class=""><a href="chart-peity.html" class="waves-effect">Peity</a></li>
                        <li class=""><a href="chart-radial.html" class="waves-effect">Radial</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="map-google.html" class="waves-effect">Google</a></li>
                        <li class=""><a href="map-vector.html" class="waves-effect">Vector</a></li>
                        <li class=""><a href="map-api.html" class="waves-effect">Gmap search API</a></li>
                        <li class=""><a href="map-location.html" class="waves-effect">Location</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="extra-pages/landingpage/index.html"
                                        class="nav-link waves-effect waves-light" target="_blank"><span
                        class="pcoded-micon"><i class="feather icon-navigation-2"></i></span><span class="pcoded-mtext">Landing page</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="auth-signup.html" class="waves-effect" target="_blank">Sign up</a></li>
                        <li class=""><a href="auth-signup1.html" class="waves-effect" target="_blank">Sign up v2<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin.html" class="waves-effect" target="_blank">Sign in</a></li>
                        <li class=""><a href="auth-signin-img-side.html" class="waves-effect" target="_blank">Sign in v2<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-slider.html" class="waves-effect" target="_blank">Sign in
                            v3<span class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-slider2.html" class="waves-effect" target="_blank">Sign in
                            v4<span class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-tabs.html" class="waves-effect" target="_blank">Sign in v5<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-reset-password.html" class="waves-effect" target="_blank">Reset
                            password</a></li>
                        <li class=""><a href="auth-change-password.html" class="waves-effect" target="_blank">Change
                            password</a></li>
                        <li class=""><a href="auth-profile-settings.html" class="waves-effect" target="_blank">Profile
                            settings</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-sliders"></i></span><span class="pcoded-mtext">Maintenance</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="maint-error.html" class="waves-effect">Error</a></li>
                        <li class=""><a href="maint-offline-ui.html" class="waves-effect" target="_blank">Offline UI</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>App</label>
                </li>
                <li class="nav-item"><a href="message.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span
                        class="pcoded-mtext">Message</span></a></li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-mail"></i></span><span class="pcoded-mtext">Email</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="email_inbox.html" class="waves-effect">Inbox</a></li>
                        <li class=""><a href="email_read.html" class="waves-effect">Read mail</a></li>
                        <li class=""><a href="email_compose.html" class="waves-effect">Compose mail</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Task</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="task-list.html" class="waves-effect">List</a></li>
                        <li class=""><a href="task-board.html" class="waves-effect">Board</a></li>
                        <li class=""><a href="task-detail.html" class="waves-effect">Detail</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-check-square"></i></span><span class="pcoded-mtext">To-Do</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="todo.html" class="waves-effect">To-Do</a></li>
                        <li class=""><a href="notes.html" class="waves-effect">Notes</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-image"></i></span><span class="pcoded-mtext">Gallery</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="gallery-grid.html" class="waves-effect">Grid</a></li>
                        <li class=""><a href="gallery-masonry.html" class="waves-effect">Masonry</a></li>
                        <li class=""><a href="gallery-advance.html" class="waves-effect">Advance</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-search"></i></span><span class="pcoded-mtext">Search<span
                            class="pcoded-badge label label-info">NEW</span></span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="search1.html" class="waves-effect">Search1</a></li>
                        <li class=""><a href="search2.html" class="waves-effect">Search2</a></li>
                        <li class=""><a href="search3.html" class="waves-effect">Search3</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Helpdesk<span
                            class="pcoded-badge label label-success">NEW</span></span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="hd-help-desk.html" class="waves-effect">Helpdesk dashboard</a></li>
                        <li class=""><a href="hd-dashboard.html" class="waves-effect">Customer dashboard</a></li>
                        <li class=""><a href="hd-cust-list.html" class="waves-effect">Customer list</a></li>
                        <li class=""><a href="hd-detail.html" class="waves-effect">Customer detail</a></li>
                        <li class=""><a href="hd-new-ticket.html" class="waves-effect">Ticket</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Extension</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Editor</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="#!" class="waves-effect">CK editor</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="editor-classic.html" class="waves-effect">Classic</a></li>
                                <li class=""><a href="editor-balloon.html" class="waves-effect">Balloon</a></li>
                                <li class=""><a href="editor-inline.html" class="waves-effect">Inline</a></li>
                                <li class=""><a href="editor-document.html" class="waves-effect">Document</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="editor-tinymce.html" class="waves-effect">Tinymce editor</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-file-minus"></i></span><span class="pcoded-mtext">Invoice</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="invoice.html" class="waves-effect">Invoice</a></li>
                        <li class=""><a href="invoice-summary.html" class="waves-effect">Invoice summary</a></li>
                        <li class=""><a href="invoice-list.html" class="waves-effect">Invoice list</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="full-calendar.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Full calendar</span></a>
                </li>
                <li class="nav-item"><a href="file-upload.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span><span class="pcoded-mtext">File upload</span></a>
                </li>
                <li class="nav-item"><a href="image_crop.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-scissors"></i></span><span class="pcoded-mtext">Image cropper</span></a>
                </li>
                <li class="nav-item"><a href="grid-animation.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-globe"></i></span><span class="pcoded-mtext">Grid animation</span><span
                        class="pcoded-badge label label-info">NEW</span></a></li>
                <li class="nav-item"><a href="minimal-form.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Minimal form</span><span
                        class="pcoded-badge label label-danger">NEW</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Other</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#" class="nav-link waves-effect waves-light"><span class="pcoded-micon"><i
                            class="feather icon-menu"></i></span><span class="pcoded-mtext">Menu levels</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="#" class="waves-effect">Menu Level 2.1</a></li>
                        <li class="pcoded-hasmenu">
                            <a href="#" class="waves-effect">Menu level 2.2</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="#" class="waves-effect">Menu level 3.1</a></li>
                                <li class=""><a href="#" class="waves-effect">Menu level 3.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item disabled"><a href="#!" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a>
                </li>
                <li class="nav-item"><a href="sample-page.html" class="nav-link waves-effect waves-light"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Support</label>
                </li>
                <li class="nav-item"><a href="../doc/index.html" class="nav-link waves-effect waves-light"
                                        target="_blank"><span class="pcoded-micon"><i
                        class="feather icon-book"></i></span><span class="pcoded-mtext">Documentation</span></a></li>
                <li class="nav-item"><a href="https://phoenixcoded.ticksy.com" class="nav-link waves-effect waves-light"
                                        target="_blank"><span class="pcoded-micon"><i
                        class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Need
								support ?</span></a></li>-->

            </ul>

            <!--<div class="card text-center">
                <div class="card-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="feather icon-sunset f-40"></i>
                    <h6 class="mt-3">Upgrade to pro</h6>
                    <p>upgrade for get full themes and 30min support</p>
                    <a href="#!" target="_blank"
                       class="btn waves-effect waves-light btn-gradient-primary wave-effect waves-light btn-sm text-white m-0">Upgrade</a>
                </div>
            </div>-->
        </div>

    </div>
</nav>
