<!DOCTYPE html>
<html lang="en">

<head>

    <title>Flex Able -Bootstrap Admin Template</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded"/>

    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="../../static/adminResources/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../../static/adminResources/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">


</head>

<!-- [ auth-signup ] start -->
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <form id="validation-form123" action="/shopkeeper/insertRegister" method="post">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="card-body">
                            <img src="../../static/adminResources/image/logo-dark.png" alt="" class="img-fluid mb-4">
                            <h4 class="mb-3 f-w-400">Sign up into your account</h4>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Shop Name"
                                       name="shopkeeperShopName">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Full Name"
                                       name="shopkeeperFullName">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="Username" name="loginUsername">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="number" class="form-control" placeholder="Contact"
                                       name="shopkeeperContact">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <textarea class="form-control" name="shopkeeperAddress"
                                          placeholder="Address"></textarea>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <!--<input type="text" class="form-control" placeholder="Area" name="loginArea">-->
                                <select class="form-control" name="shopkeeper_AreaId">
                                    <option>Select Area</option>
                                    {% for i in areaVOList %}
                                        <option value="{{ i['areaId'] }}">{{ i['areaName'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button class="btn waves-effect waves-light btn-primary mb-4">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="mb-2">Already have an account? <a href="/" class="f-w-400">Log in</a></p>
        </div>
    </div>
</div>
<!-- [ auth-signup ] end -->

<!-- Required Js -->
<script src="../../static/adminResources/js/vendor-all.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>

<div class="footer-fab">
    <div class="b-bg">
        <i class="fas fa-question"></i>
    </div>
    <div class="fab-hover">
        <ul class="list-unstyled">
            <li><a href="../doc/index-bc-package.html" target="_blank" data-text="UI Kit"
                   class="btn btn-icon btn-rounded btn-info m-0"><i class="feather icon-layers"></i></a></li>
            <li><a href="../doc/index.html" target="_blank" data-text="Document"
                   class="btn btn-icon btn-rounded btn-primary m-0"><i class="feather icon feather icon-book"></i></a>
            </li>
        </ul>
    </div>
</div>


</body>

</html>
